[Unit]
Description=Gluu Agent One Time Recover
After=network.target

[Service]
Type=oneshot
DATABASE=/var/lib/gluu-cluster/db/db.json
RECOVER_LOGFILE=/var/log/gluuagent-recover.log
ExecStart="/usr/bin/gluu-agent recover --database $DATABASE --logfile $RECOVER_LOGFILE"

[Install]
WantedBy=multi-user.target
