[Unit]
Description=Gluu Agent One Time Recover
After=network.target

[Service]
Type=oneshot
ExecStartPre="mkdir -p /var/lib/gluu-cluster/db/; touch /var/lib/gluu-cluster/db/db.json; touch /var/log/gluuagent-recover.log"
ExecStart="/usr/bin/gluu-agent recover --database /var/lib/gluu-cluster/db/db.json --logfile /var/log/gluuagent-recover.log"

[Install]
WantedBy=multi-user.target
